.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.text-justify{
  text-align: justify!important;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.slick-dots > li > button {
  background:blue!important;

}
.medicineImg{
  max-width: 200px!important;
}
.App-link {
  color: #61dafb;
}
.shadowEffect{
  box-shadow: 1.5px 1.5px  1.5px 1.5px grey;

}
.responsiveImg{
  width: 100%!important;
  height: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.hoverEffect{
  transition: 0.3s;
}
.hoverEffect:hover{
  cursor: pointer;
  box-shadow: 3px 3px  3px 3px grey;
}